IblLog.log
bin64/IBLBaker.map
bin64/IBLBaker.pdb
bin64/IBLBaker_d.ilk
bin64/IBLBaker_d.pdb
build/x64/Debug/EffectAPI.obj
build/x64/Debug/EffectLoad.obj
build/x64/Debug/EffectNonRuntime.obj
build/x64/Debug/EffectReflection.obj
build/x64/Debug/EffectRuntime.obj
build/x64/Debug/IBLBaker.res
build/x64/Debug/IBLBaker.tlog/CL.read.1.tlog
build/x64/Debug/IBLBaker.tlog/CL.write.1.tlog
build/x64/Debug/IBLBaker.tlog/IBLBaker.lastbuildstate
build/x64/Debug/IBLBaker.tlog/cl.command.1.tlog
build/x64/Debug/IBLBaker.tlog/link.command.1.tlog
build/x64/Debug/IBLBaker.tlog/link.read.1.tlog
build/x64/Debug/IBLBaker.tlog/link.write.1.tlog
build/x64/Debug/IBLBaker.tlog/rc.command.1.tlog
build/x64/Debug/IBLBaker.tlog/rc.read.1.tlog
build/x64/Debug/IBLBaker.tlog/rc.write.1.tlog
build/x64/Debug/IBLBaker_d.Build.CppClean.log
build/x64/Debug/IblApplication.obj
build/x64/Debug/IblApplicationHUD.obj
build/x64/Debug/IblAssetManager.obj
build/x64/Debug/IblBackbufferSurfaceD3D11.obj
build/x64/Debug/IblBrdf.obj
build/x64/Debug/IblBufferD3D11.obj
build/x64/Debug/IblButton.obj
build/x64/Debug/IblCamera.obj
build/x64/Debug/IblCameraManager.obj
build/x64/Debug/IblCheckBox.obj
build/x64/Debug/IblCodec.obj
build/x64/Debug/IblColorPass.obj
build/x64/Debug/IblColorResolve.obj
build/x64/Debug/IblColorValue.obj
build/x64/Debug/IblColourValue.obj
build/x64/Debug/IblComboBox.obj
build/x64/Debug/IblComputeShaderD3D11.obj
build/x64/Debug/IblControl.obj
build/x64/Debug/IblDDSCodec.obj
build/x64/Debug/IblDampenedInput.obj
build/x64/Debug/IblDataStream.obj
build/x64/Debug/IblDepthResolve.obj
build/x64/Debug/IblDepthSurfaceD3D11.obj
build/x64/Debug/IblDialogBase.obj
build/x64/Debug/IblDialogResourceManager.obj
build/x64/Debug/IblDynamicRenderer.obj
build/x64/Debug/IblEditBox.obj
build/x64/Debug/IblEffectD3D11.obj
build/x64/Debug/IblEntity.obj
build/x64/Debug/IblFileChangeWatcher.obj
build/x64/Debug/IblFilterCubemap.obj
build/x64/Debug/IblFocusedInput.obj
build/x64/Debug/IblFocusedMovement.obj
build/x64/Debug/IblFont.obj
build/x64/Debug/IblFontMgr.obj
build/x64/Debug/IblFormatConversionD3D11.obj
build/x64/Debug/IblFrameBuffer.obj
build/x64/Debug/IblFreeImageCodec.obj
build/x64/Debug/IblGpuConstantBuffer.obj
build/x64/Debug/IblGpuConstantBufferD3D11.obj
build/x64/Debug/IblGpuTechnique.obj
build/x64/Debug/IblGpuTechniqueD3D11.obj
build/x64/Debug/IblGpuVariable.obj
build/x64/Debug/IblGpuVariableD3D11.obj
build/x64/Debug/IblHDRPresentationPolicy.obj
build/x64/Debug/IblHash.obj
build/x64/Debug/IblIBLProbe.obj
build/x64/Debug/IblIBLRenderPass.obj
build/x64/Debug/IblIComputeShader.obj
build/x64/Debug/IblIDepthSurface.obj
build/x64/Debug/IblIDevice.obj
build/x64/Debug/IblIEffect.obj
build/x64/Debug/IblIGpuBuffer.obj
build/x64/Debug/IblIIndexBuffer.obj
build/x64/Debug/IblIRenderResource.obj
build/x64/Debug/IblIRenderResourceParameters.obj
build/x64/Debug/IblIShader.obj
build/x64/Debug/IblISurface.obj
build/x64/Debug/IblITexture.obj
build/x64/Debug/IblIVertexBuffer.obj
build/x64/Debug/IblIVertexDeclaration.obj
build/x64/Debug/IblImageWidget.obj
build/x64/Debug/IblIndexBufferD3D11.obj
build/x64/Debug/IblIndexedMesh.obj
build/x64/Debug/IblInput.obj
build/x64/Debug/IblInputLayoutCacheD3D11.obj
build/x64/Debug/IblInputManager.obj
build/x64/Debug/IblInputState.obj
build/x64/Debug/IblListBox.obj
build/x64/Debug/IblLog.obj
build/x64/Debug/IblMaterial.obj
build/x64/Debug/IblMesh.obj
build/x64/Debug/IblNode.obj
build/x64/Debug/IblPixelFormat.obj
build/x64/Debug/IblPostEffect.obj
build/x64/Debug/IblPostEffectsMgr.obj
build/x64/Debug/IblPresentationPolicy.obj
build/x64/Debug/IblProjectionProperty.obj
build/x64/Debug/IblProperty.obj
build/x64/Debug/IblRadioButton.obj
build/x64/Debug/IblRenderDeviceD3D11.obj
build/x64/Debug/IblRenderHUD.obj
build/x64/Debug/IblRenderNode.obj
build/x64/Debug/IblRenderPass.obj
build/x64/Debug/IblRenderRequest.obj
build/x64/Debug/IblRenderTargetQuad.obj
build/x64/Debug/IblRenderTargetTextureD3D11.obj
build/x64/Debug/IblRenderTextureProperty.obj
build/x64/Debug/IblRenderWindow.obj
build/x64/Debug/IblRenderWindowD3D11.obj
build/x64/Debug/IblScene.obj
build/x64/Debug/IblScreenOrientedQuad.obj
build/x64/Debug/IblScrollBar.obj
build/x64/Debug/IblShaderD3D11.obj
build/x64/Debug/IblShaderMgr.obj
build/x64/Debug/IblShaderParameterValue.obj
build/x64/Debug/IblShaderParameterValueFactory.obj
build/x64/Debug/IblSlider.obj
build/x64/Debug/IblSprite.obj
build/x64/Debug/IblStatic.obj
build/x64/Debug/IblStreamedMesh.obj
build/x64/Debug/IblStringUtilities.obj
build/x64/Debug/IblSurfaceD3D11.obj
build/x64/Debug/IblTexture2DD3D11.obj
build/x64/Debug/IblTextureD3D11.obj
build/x64/Debug/IblTextureImage.obj
build/x64/Debug/IblTextureMgr.obj
build/x64/Debug/IblTimer.obj
build/x64/Debug/IblTitles.obj
build/x64/Debug/IblTransformNode.obj
build/x64/Debug/IblTransformProperty.obj
build/x64/Debug/IblVertexBufferD3D11.obj
build/x64/Debug/IblVertexDeclarationD3D11.obj
build/x64/Debug/IblVertexDeclarationMgr.obj
build/x64/Debug/IblVertexElement.obj
build/x64/Debug/IblVertexStream.obj
build/x64/Debug/IblViewProperty.obj
build/x64/Debug/IblViewport.obj
build/x64/Debug/IblViewportProperty.obj
build/x64/Debug/IblWidgetDialog.obj
build/x64/Debug/IblWidgetTypes.obj
build/x64/Debug/IblWidgetUIElement.obj
build/x64/Debug/IblWindow.obj
build/x64/Debug/IblX360Controller.obj
build/x64/Debug/MurmurHash.obj
build/x64/Debug/d3dx11dbg.obj
build/x64/Debug/d3dxGlobal.obj
build/x64/Debug/main.obj
build/x64/Debug/pugixml.obj
build/x64/Debug/pugixpath.obj
build/x64/Debug/tiny_obj_loader.obj
build/x64/Debug/vc120.idb
build/x64/Debug/vc120.pdb
build/x64/Release/EffectAPI.obj
build/x64/Release/EffectLoad.obj
build/x64/Release/EffectNonRuntime.obj
build/x64/Release/EffectReflection.obj
build/x64/Release/EffectRuntime.obj
build/x64/Release/IBLBaker.Build.CppClean.log
build/x64/Release/IBLBaker.res
build/x64/Release/IBLBaker.tlog/CL.read.1.tlog
build/x64/Release/IBLBaker.tlog/CL.write.1.tlog
build/x64/Release/IBLBaker.tlog/IBLBaker.lastbuildstate
build/x64/Release/IBLBaker.tlog/cl.command.1.tlog
build/x64/Release/IBLBaker.tlog/link.command.1.tlog
build/x64/Release/IBLBaker.tlog/link.read.1.tlog
build/x64/Release/IBLBaker.tlog/link.write.1.tlog
build/x64/Release/IBLBaker.tlog/rc.command.1.tlog
build/x64/Release/IBLBaker.tlog/rc.read.1.tlog
build/x64/Release/IBLBaker.tlog/rc.write.1.tlog
build/x64/Release/IblApplication.obj
build/x64/Release/IblApplicationHUD.obj
build/x64/Release/IblAssetManager.obj
build/x64/Release/IblBackbufferSurfaceD3D11.obj
build/x64/Release/IblBrdf.obj
build/x64/Release/IblBufferD3D11.obj
build/x64/Release/IblButton.obj
build/x64/Release/IblCamera.obj
build/x64/Release/IblCameraManager.obj
build/x64/Release/IblCheckBox.obj
build/x64/Release/IblCodec.obj
build/x64/Release/IblColorPass.obj
build/x64/Release/IblColorResolve.obj
build/x64/Release/IblColorValue.obj
build/x64/Release/IblColourValue.obj
build/x64/Release/IblComboBox.obj
build/x64/Release/IblComputeShaderD3D11.obj
build/x64/Release/IblControl.obj
build/x64/Release/IblDDSCodec.obj
build/x64/Release/IblDampenedInput.obj
build/x64/Release/IblDataStream.obj
build/x64/Release/IblDepthResolve.obj
build/x64/Release/IblDepthSurfaceD3D11.obj
build/x64/Release/IblDialogBase.obj
build/x64/Release/IblDialogResourceManager.obj
build/x64/Release/IblDynamicRenderer.obj
build/x64/Release/IblEditBox.obj
build/x64/Release/IblEffectD3D11.obj
build/x64/Release/IblEntity.obj
build/x64/Release/IblFileChangeWatcher.obj
build/x64/Release/IblFilterCubemap.obj
build/x64/Release/IblFocusedInput.obj
build/x64/Release/IblFocusedMovement.obj
build/x64/Release/IblFont.obj
build/x64/Release/IblFontMgr.obj
build/x64/Release/IblFormatConversionD3D11.obj
build/x64/Release/IblFrameBuffer.obj
build/x64/Release/IblFreeImageCodec.obj
build/x64/Release/IblGpuConstantBuffer.obj
build/x64/Release/IblGpuConstantBufferD3D11.obj
build/x64/Release/IblGpuTechnique.obj
build/x64/Release/IblGpuTechniqueD3D11.obj
build/x64/Release/IblGpuVariable.obj
build/x64/Release/IblGpuVariableD3D11.obj
build/x64/Release/IblHDRPresentationPolicy.obj
build/x64/Release/IblHash.obj
build/x64/Release/IblIBLProbe.obj
build/x64/Release/IblIBLRenderPass.obj
build/x64/Release/IblIComputeShader.obj
build/x64/Release/IblIDepthSurface.obj
build/x64/Release/IblIDevice.obj
build/x64/Release/IblIEffect.obj
build/x64/Release/IblIGpuBuffer.obj
build/x64/Release/IblIIndexBuffer.obj
build/x64/Release/IblIRenderResource.obj
build/x64/Release/IblIRenderResourceParameters.obj
build/x64/Release/IblIShader.obj
build/x64/Release/IblISurface.obj
build/x64/Release/IblITexture.obj
build/x64/Release/IblIVertexBuffer.obj
build/x64/Release/IblIVertexDeclaration.obj
build/x64/Release/IblImageWidget.obj
build/x64/Release/IblIndexBufferD3D11.obj
build/x64/Release/IblIndexedMesh.obj
build/x64/Release/IblInput.obj
build/x64/Release/IblInputLayoutCacheD3D11.obj
build/x64/Release/IblInputManager.obj
build/x64/Release/IblInputState.obj
build/x64/Release/IblListBox.obj
build/x64/Release/IblLog.obj
build/x64/Release/IblMaterial.obj
build/x64/Release/IblMesh.obj
build/x64/Release/IblNode.obj
build/x64/Release/IblPixelFormat.obj
build/x64/Release/IblPostEffect.obj
build/x64/Release/IblPostEffectsMgr.obj
build/x64/Release/IblPresentationPolicy.obj
build/x64/Release/IblProjectionProperty.obj
build/x64/Release/IblProperty.obj
build/x64/Release/IblRadioButton.obj
build/x64/Release/IblRenderDeviceD3D11.obj
build/x64/Release/IblRenderHUD.obj
build/x64/Release/IblRenderNode.obj
build/x64/Release/IblRenderPass.obj
build/x64/Release/IblRenderRequest.obj
build/x64/Release/IblRenderTargetQuad.obj
build/x64/Release/IblRenderTargetTextureD3D11.obj
build/x64/Release/IblRenderTextureProperty.obj
build/x64/Release/IblRenderWindow.obj
build/x64/Release/IblRenderWindowD3D11.obj
build/x64/Release/IblScene.obj
build/x64/Release/IblScreenOrientedQuad.obj
build/x64/Release/IblScrollBar.obj
build/x64/Release/IblShaderD3D11.obj
build/x64/Release/IblShaderMgr.obj
build/x64/Release/IblShaderParameterValue.obj
build/x64/Release/IblShaderParameterValueFactory.obj
build/x64/Release/IblSlider.obj
build/x64/Release/IblSprite.obj
build/x64/Release/IblStatic.obj
build/x64/Release/IblStreamedMesh.obj
build/x64/Release/IblStringUtilities.obj
build/x64/Release/IblSurfaceD3D11.obj
build/x64/Release/IblTexture2DD3D11.obj
build/x64/Release/IblTextureD3D11.obj
build/x64/Release/IblTextureImage.obj
build/x64/Release/IblTextureMgr.obj
build/x64/Release/IblTimer.obj
build/x64/Release/IblTitles.obj
build/x64/Release/IblTransformNode.obj
build/x64/Release/IblTransformProperty.obj
build/x64/Release/IblVertexBufferD3D11.obj
build/x64/Release/IblVertexDeclarationD3D11.obj
build/x64/Release/IblVertexDeclarationMgr.obj
build/x64/Release/IblVertexElement.obj
build/x64/Release/IblVertexStream.obj
build/x64/Release/IblViewProperty.obj
build/x64/Release/IblViewport.obj
build/x64/Release/IblViewportProperty.obj
build/x64/Release/IblWidgetDialog.obj
build/x64/Release/IblWidgetTypes.obj
build/x64/Release/IblWidgetUIElement.obj
build/x64/Release/IblWindow.obj
build/x64/Release/IblX360Controller.obj
build/x64/Release/MurmurHash.obj
build/x64/Release/d3dx11dbg.obj
build/x64/Release/d3dxGlobal.obj
build/x64/Release/main.obj
build/x64/Release/pugixml.obj
build/x64/Release/pugixpath.obj
build/x64/Release/tiny_obj_loader.obj
build/x64/Release/vc120.pdb
data/meshes/pistol/pistol.obj
src/IBLBaker.opensdf
src/IBLBaker.sdf
src/IBLBaker.v11.suo
src/IBLBaker.v12.suo
src/IBLBaker.vcxproj.user
src/build/x64/Debug/IBLBaker.log
src/build/x64/Release/IBLBaker.log
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.log
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.pch
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.res
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/AntTweakBar.lastbuildstate
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/CL.read.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/CL.write.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/Lib-link-cvtres.read.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/Lib-link-cvtres.write.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/cl.command.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/lib.command.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/rc.command.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/rc.read.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/rc.write.1.tlog
src/dependencies/AntTweakBar/src/debug64/LoadOGL.obj
src/dependencies/AntTweakBar/src/debug64/LoadOGLCore.obj
src/dependencies/AntTweakBar/src/debug64/TwBar.obj
src/dependencies/AntTweakBar/src/debug64/TwColors.obj
src/dependencies/AntTweakBar/src/debug64/TwDirect3D10.obj
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11.obj
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_LineRectCstColorVS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_LineRectPS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_LineRectVS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_TextCstColorVS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_TextPS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_TextVS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D9.obj
src/dependencies/AntTweakBar/src/debug64/TwEventGLFW.obj
src/dependencies/AntTweakBar/src/debug64/TwEventGLUT.obj
src/dependencies/AntTweakBar/src/debug64/TwEventSDL.obj
src/dependencies/AntTweakBar/src/debug64/TwEventSDL12.obj
src/dependencies/AntTweakBar/src/debug64/TwEventSDL13.obj
src/dependencies/AntTweakBar/src/debug64/TwEventSFML.obj
src/dependencies/AntTweakBar/src/debug64/TwEventWin.obj
src/dependencies/AntTweakBar/src/debug64/TwFonts.obj
src/dependencies/AntTweakBar/src/debug64/TwMgr.obj
src/dependencies/AntTweakBar/src/debug64/TwOpenGL.obj
src/dependencies/AntTweakBar/src/debug64/TwPrecomp.obj
src/dependencies/AntTweakBar/src/debug64/vc120.pdb
src/dependencies/AntTweakBar/src/release64/AntTweakBar.log
src/dependencies/AntTweakBar/src/release64/AntTweakBar.pch
src/dependencies/AntTweakBar/src/release64/AntTweakBar.res
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/AntTweakBar.lastbuildstate
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/CL.read.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/CL.write.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/Lib-link-cvtres.read.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/Lib-link-cvtres.write.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/cl.command.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/lib.command.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/rc.command.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/rc.read.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/rc.write.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar64.Build.CppClean.log
src/dependencies/AntTweakBar/src/release64/LoadOGL.obj
src/dependencies/AntTweakBar/src/release64/LoadOGLCore.obj
src/dependencies/AntTweakBar/src/release64/TwBar.obj
src/dependencies/AntTweakBar/src/release64/TwColors.obj
src/dependencies/AntTweakBar/src/release64/TwDirect3D10.obj
src/dependencies/AntTweakBar/src/release64/TwDirect3D11.obj
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_LineRectCstColorVS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_LineRectPS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_LineRectVS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_TextCstColorVS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_TextPS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_TextVS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D9.obj
src/dependencies/AntTweakBar/src/release64/TwEventGLFW.obj
src/dependencies/AntTweakBar/src/release64/TwEventGLUT.obj
src/dependencies/AntTweakBar/src/release64/TwEventSDL.obj
src/dependencies/AntTweakBar/src/release64/TwEventSDL12.obj
src/dependencies/AntTweakBar/src/release64/TwEventSDL13.obj
src/dependencies/AntTweakBar/src/release64/TwEventSFML.obj
src/dependencies/AntTweakBar/src/release64/TwEventWin.obj
src/dependencies/AntTweakBar/src/release64/TwFonts.obj
src/dependencies/AntTweakBar/src/release64/TwMgr.obj
src/dependencies/AntTweakBar/src/release64/TwOpenGL.obj
src/dependencies/AntTweakBar/src/release64/TwPrecomp.obj
src/dependencies/tinyobjloader/README.md
src/dependencies/tinyobjloader/tiny_obj_loader.cc
src/dependencies/tinyobjloader/tiny_obj_loader.h
src/input/IblComPtr.h
build/x64/Release/IBLBaker.tlog/unsuccessfulbuild
src/dependencies/AntTweakBar/lib/debug/AntTweakBar.lib
src/dependencies/AntTweakBar/lib64/debug/AntTweakBar64.lib
src/dependencies/AntTweakBar/lib64/release/AntTweakBar64.lib
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.log
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.pch
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.res
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/AntTweakBar.lastbuildstate
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/CL.read.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/CL.write.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/Lib-link-cvtres.read.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/Lib-link-cvtres.write.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/cl.command.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/lib.command.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/rc.command.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/rc.read.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/rc.write.1.tlog
src/dependencies/AntTweakBar/src/debug32/LoadOGL.obj
src/dependencies/AntTweakBar/src/debug32/LoadOGLCore.obj
src/dependencies/AntTweakBar/src/debug32/TwDirect3D11_LineRectPS.h
src/dependencies/AntTweakBar/src/debug32/TwDirect3D11_LineRectVS.h
src/dependencies/AntTweakBar/src/debug32/TwDirect3D11_TextPS.h
src/dependencies/AntTweakBar/src/debug32/TwDirect3D11_TextVS.h
src/dependencies/AntTweakBar/src/debug32/TwDirect3D9.obj
src/dependencies/AntTweakBar/src/debug32/TwEventGLFW.obj
src/dependencies/AntTweakBar/src/debug32/TwEventGLUT.obj
src/dependencies/AntTweakBar/src/debug32/TwEventSDL.obj
src/dependencies/AntTweakBar/src/debug32/TwEventSDL12.obj
src/dependencies/AntTweakBar/src/debug32/TwEventSDL13.obj
src/dependencies/AntTweakBar/src/debug32/TwEventSFML.obj
src/dependencies/AntTweakBar/src/debug32/TwEventWin.obj
src/dependencies/AntTweakBar/src/debug32/TwFonts.obj
src/dependencies/AntTweakBar/src/debug32/TwMgr.obj
src/dependencies/AntTweakBar/src/debug32/TwOpenGL.obj
src/dependencies/AntTweakBar/src/debug32/TwPrecomp.obj
src/dependencies/AntTweakBar/src/debug32/vc120.idb
src/dependencies/AntTweakBar/src/debug32/vc120.pdb
build/x64/Debug/IBLBaker.tlog/unsuccessfulbuild
build/x64/Debug/IBLBaker.tlog/link.7148-cvtres.read.1.tlog
build/x64/Debug/IBLBaker.tlog/link.7148-cvtres.write.1.tlog
build/x64/Debug/IBLBaker.tlog/link.7148-rc.read.1.tlog
build/x64/Debug/IBLBaker.tlog/link.7148-rc.write.1.tlog
